body {
    font-family: Roboto, sans-serif;
}

@mixin deprecated-cloc-font {
    font-family: 'Bagel Fat One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 64px;
}
